<article class="post clearfix" id="post_{PostID}" style=" margin: 40px auto; width: 618px;">

          <div class="post-z-frame">
          
            <header>
            
                   <section class="private">
                      <aside>
                       
                        <div class="private_post_message">
                          <h1></h1>                             
                        </div>
                      </aside>
                    </section>
                    <h1><a href="{Permalink}">Hello World</a></h1>
              <div class="editbox">
              </div>
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
			<div class="fb-like" data-href="http://www.postcardsfromthenow.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            </header>
            <div class="body">
              <div class="inner">
                            <br><br>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 1em; font-weight: normal; text-align: center; margin: 0px;">What is out your window?&nbsp;</h2>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 1em; font-weight: normal; text-align: center; margin: 0px;">What is on your screen?</h2>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 1em; font-weight: normal; text-align: center; margin: 0px;">What is on your mind?&nbsp;
            
            </h2>
            
            <br/><br/>
            
            <br/><br/>
            <h2 style="padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; color: #4d4d4d; font-family: ChainprinterRegular, Lucida Grande, Lucida Sans, Lucida Sans Unicode, sans-serif; font-size: 1em; font-weight: normal; text-align: center; margin: 0px;">
            <a href="#newpost">Add your Postcard</a>
            </h2>
              </div>
            </div>
        </div>
        
        <div class="post-head"></div>
        <div class="post-foot" ></div>
        
</article>
<div id="post_column" >
	<div id="articles">	
	<% unless @posts.empty? %>	
	<% @posts.each do |post| %>
	<article class="post clearfix" id="post_{PostID}">
	<div class="post-z-frame">
		<header>
			<h1>
				<a href="/<%= post.post_id%>"><%= post.user_name %> - <%= post.city %>, <%= post.country %></a>
			</h1>
		</header>
		
	
		<div class="userdata">
        <!-- Image Stack -->
		<div class="image-stack">
			<a href="<%= post.image1.url %>" rel="lightbox"><img src="<%= post.image1.thumb.url %>" alt="window" /></a>
			<br><br>
            <a href="<%= post.image2.url %>" rel="lightbox"><img src="<%= post.image2.thumb.url %>" alt="window" /></a>
		</div>
		
		 <!-- Text Box -->
		 <div class="text-box">
			<%= post.thoughts %> <br/>
		</div>
		
		</div>
		
	</div>
	<div class="post-head"></div>
	<div class="post-foot"></div>
	
	</article>
	
    <!-- Comments -->
    
	<% comments = Comment.all(:post_id => post.post_id,:order => [:created_at.asc]) %>
	<% unless comments.empty?%>
	
		<div class="comments">
			<div class="comments_title">Notes for <%= post.user_name%></div>
	    
	    <div class="firstcomments">   
		
		<% comments.each do |comment| %>
		   
	            <p><strong><span class="commentersname"><%= comment.user_name %> </span></strong>:<span class="commentertext"><%= comment.text %></span></p>  	
	    <% end %>	    
	        
	     </div>	
	    
	<% else %>
		<div class="comments_title">Leave a Note for <%= post.user_name %> </div>	
	<% end %>  		
	    <br> 	    	
		<form method="post" action="/comment/create/<%= post.post_id %>" id="comment_form" class="commentsubmission">
		<input type="text" id="user_name" name="user_name" placeholder="Your Name"><br>
	        <br>
		<textarea id="new_comment" rows="3" wrap="physical" name="comment_text" placeholder="Your Note"></textarea>	
		<input type="submit" value="Send" style="float:right; margin-right:26px;"/>
		</form>
    <% end %>
    </div><!-- closing commentdiv -->
	
<% else %>
	<p>No Posts</p>
<% end %>	
</div><!-- closing articles -->
	
    <!-- THIS IS THE SUBMISSION AREA -->

<article class="post clearfix submittor" id="post_{PostID}" >
	
	<div class="post-z-frame" name="newpost" id="newpost">
	<header>
		<h1>
			<a>Add your Postcard</a>
		</h1>
	</header>
	
	<form method="post" action="/post/create" id="the_form" enctype="multipart/form-data">	

    	<div class="imageupload" >
    		<div class="photo_upload_rect">What is out your window? <input type="file" name="pic1" id="file_chooser1"/></div>
    		
    		   <br/> 	     	
    		<div class="photo_upload_rect">What is on your screen? <input type="file" name="pic2" id="file_chooser2"/> </div>
    		<br/>
    		What is on your mind?
    		<textarea id="thinkingtext" rows="5" wrap="physical" name="thoughts" placeholder="Right now, what are you thinking about?"></textarea>
    		
    	</div>

	<div class="text-boxsub">
        
        <br><br>
        Name:<input type="text" id="user_name_text" name="user_name" placeholder="Your Name">
        <br><br>
        City:<input type="text" id="city_text" name="city" placeholder="City">
        <br><br>
        Country:<input type="text" id="country_text"name="country" placeholder="Country">
        <br><br>
		Email:<input type="text" id="email_text" name="email" placeholder="Email">
        <br><br>
	</div>
	<input type="submit" class="uploadbutton" value="Send"/>
 
	</form>	
	</div>
	
	<div class="post-head"></div>
	<div class="post-foot">
	<div id="the_form_errorloc" class="error_strings">
	</div>
	
</article>
</div><!-- Closing post-column -->